# Gradle build system ignores
build
.gradle

# Eclipse
bin
*.launch
.classpath
.metadata
.project

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/
*.mcreator

# Minecraft client/server files
run/

#GitHub
.git/
.gitignore

# Other
dev.env
buildVersion.properties
thumbs.db
__save
