# Gradle build system ignores
build
.gradle

# Other IDE related folders
.idea/
.settings/

# Eclipse
bin
*.launch
.classpath
.metadata
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# MCreator workspace
.mcreator/
*.mcreator

# Minecraft client/server files
run/

#GitHub
.git/
.gitignore
.gitattributes

# Other
run
.env/
*.env
JavaDoc/
thumbs.db
test/
__save
